<div class="content">
  <h2>Sobre a Eco-Care</h2>

  <img src="../../assets/logo1.png" alt="">

  <div class="destaque">A Eco-care nasceu com a ideia de juntar a comunidade empreendedora de cosméticos veganos.</div>
  <p>Através das conexões, entre centenas de pessoas apaixonadas pela vida, formamos esse meio.
    Para que possamos vender nossos produtos, feitos com amor e carinho e especialmente para cada comprador.
    Cada emcomenda é unica, não possuímos estoques de nossos produtos, então cada coisa que você pedir,
    será feita exclusivamente para sua e exclusiva pessoa. Buscamos através da nossa forma de vender,
    desperar as pessoas para o consumo consciente. Não temos o objetivo de despertar o desejo de compra,
    nem de criar coisas que as pessoas queiram. Queremos trazer aqui exatamente o que você precisa, de forma
    muito simples, e honesta.
  </p>
</div>
