<mat-toolbar>
  <mat-toolbar-row>
    <span>Eco-Care</span>
    <div class="header-items">
      <mat-form-field>
        <input matInput>
        <img src="../assets/search-solid.svg" alt="">
      </mat-form-field>
      <div class="link-loja">Loja</div>

      <img src="../assets/shopping-cart-solid.svg" alt="">
      <img src="../assets/user-circle-solid.svg" alt="">
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>

<div class="footer">
  <div>
    <p>ecocare © 2020 - Todos os direitos reservados - ecocare.com.br atividades de internet <br>
      LTDA CNPJ: 00.000.000/0000-00 <br>
      Av. Das aranha, 42, Vila Margarida, Curitiba, PR, 00000-000 - (41) 3333-3333
    </p>
  </div>
  <div>
    <img src="../assets/bandeirasN.png" alt="">
    <img src="../assets/site-seguro-google.webp" alt="">
  </div>
</div>
