<h3>VegNatura</h3>

<mat-tab-group>
  <mat-tab label="Cadastrar produto">

    <div class="content-form">
      <mat-form-field appearance="outline">
        <mat-label>Nome do produto</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Descrição do produto</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
      <div class="mini-line">
        <mat-form-field appearance="outline">
          <mat-label>Preço do produto(R$)</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Dias para produção</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <mat-form-field appearance="outline">
        <mat-label>Mini descrição da loja para o produto</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
      <div>
        <button class="upload" mat-raised-button (complete)="onFileComplete($event)">upload de imagens</button>
      </div>
      <div class="confirm">
        <button class="register" mat-raised-button>Cadastrar produto</button>
      </div>
    </div>

  </mat-tab>
<!-- ------------------------------------------------------------------------------------------------- -->
  <mat-tab label="Gerenciar produtos">

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> Weight </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Symbol </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </mat-tab>

  <!-- ------------------------------------------------------------------------------------------------------- -->
  <mat-tab label="Gerenciar pedidos">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> Weight </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Symbol </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-tab>
</mat-tab-group>
