<div class="content">

  <div class="container">

    <!-- default start -->
    <section id="default" class="padding-top0">
    <div class="row">
      <div class="large-12 column"><h3>Hidratante para área dos olhos</h3></div>
        <hr>
      <div class="large-5 column">
        <div class="xzoom-container">
          <img class="xzoom" id="xzoom-default"
              src="../../assets/creme.jpg"
              xoriginal="" />
          <div class="xzoom-thumbs">
            <a href="../../assets/creme.jpg"><img class="xzoom-gallery" width="80"
                src="../../assets/creme.jpg"  xpreview="" title="The description goes here"></a>

            <a href=""><img class="xzoom-gallery" width="80"
                src="../../assets/creme.jpg" title="The description goes here"></a>

            <a href=""><img class="xzoom-gallery" width="80"
              src="../../assets/creme.jpg" title="The description goes here"></a>

            <a href=""><img class="xzoom-gallery" width="80"
              src="../../assets/creme.jpg" title="The description goes here"></a>
          </div>
        </div>
      </div>
      <div class="large-7 column"></div>
    </div>
    </section>
    <!-- default end -->
  </div>

  <div class="actions">
    <div class="name-store">Produzito por VegNatura</div>
    <div class="text">
      Somos uma familia que se importa com os impactos no meio ambiente,
      por isso produzimos sob demanda, seu produto será feito escluxivamente para você.
    </div>

    <div class="frete">Calcule o frete e prazo de entrega</div>
    <div>
      <input type="text" placeholder="email">
      <button mat-raised-button>ok</button>
    </div>
    <div class="frete-stimate">
      Chegará entre 13 e 23 de junho
      R$ 10,00
    </div>

    <div class="price">R$ 29,90</div>
    <button mat-raised-button class="buy">Comprar</button>
  </div>
</div>

<div class="details">
  <div class="details-title">Detalhes do produto</div>
  <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    <br><br>
    Why do we use it?
    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).


    </div>
</div>
