<div class="highlight">
  <button mat-raised-button>Quero comprar</button>
</div>

<div class="link-store">
  <p>Sem sofrimento</p>
  <p>Produtos 100% veganos</p>
  <p>Sem testes em animais</p>
  <a href="">ver produtos</a>
</div>

<div class="products">
  <card></card>
  <card></card>
  <div class="highlight-cream">
    <div class="img-content">
      <button mat-raised-button>Ir para categoria</button>
    </div>
  </div>
</div>

<div class="products">
  <card></card>
  <card></card>
  <div class="highlight-hair">
    <div class="img-content">
      <button mat-raised-button>Ir para categoria</button>
    </div>
  </div>
</div>

<div class="kits">
  <div class="kit1"><button mat-raised-button>Comprar</button></div>
  <div class="kit2"><button mat-raised-button>Comprar</button></div>
</div>

<div class="email">
  <div>
    <p>Inscreva-se para receber novidades</p>
  </div>
  <div>
    <input type="text" placeholder="email">
    <button mat-raised-button>enviar</button>
  </div>
</div>

<div class="depoimentos">
  <div>
    <p>Depoimentos</p>
  </div>
  <div class="content-depo">
    <div class="depoimento">
      <div class="image-profile"></div>
      <div class="text">
        is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type specimen
         book. It has survived not only five centuries, but also the l
      </div>
    </div>
    <div class="depoimento">
      <div class="image-profile2"></div>
      <div class="text">
        is simply dummy text of the printing and typesetting industry.
         Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
         It has survived not only five centuries, but also the l
      </div>
    </div>
  </div>
</div>
